<!DOCTYPE html>
<html>
    <head>
        <title>
            med
        </title>
    </head>

    <body>
        <% if(inventory.length>0){ %>
            <% for(var i=0; i <inventory.length;i++){ %>
                <% if(inventory[i].medicine==null){ %> 
                <%- inventory[i].medicine %>
           <% }} %>
           <% }else{ %>
            <h1>Data not found.</h1>
            <% } %>
    </body>
</html>