<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Submit successfully</title>
<link rel="stylesheet" href="../laststyle.css">
</head>
<body>
    <div class="container">
        
    <div class="popup open-popup" id="popup"> 
<img src="tick.png">
<h2>We have found your item!!</h2>
<h4 style="text-align: left;">The donors are:</h4>
<p style="text-align: left;">
    <% have.forEach(myFunction);%>
    <%function myFunction(item){%>
       <li> <%= item.userID %>, his Phone Number is <%= item.phoneNo%></li>
    <%}%>
</p>
<a href="index.html"><button type="button" onclick="closePopup()">OK</button></a>
    </div>
    </div>
    <script>
        let popup = document.getElementById("popup");

        function openPopup(){
            popup.classList.add("open-popup");
        }
        function closePopup(){
            popup.classList.remove("open-popup");
        }
    </script>
 

</body>
</html>